
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Category</h1>

<table class="table table-bordered" style="width:auto; text-align:center">
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Stock</th>
        <th>İşlem</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Bilgisayar</td>
        <td>150</td>
        <td>
        <a href="#" class="btn btn-group-sm btn-primary">Güncelle</a>
        <a href="#" class="btn btn-group-sm btn-warning">Sil</a>
        </td>
    </tr>
</table>
